{
  "storage-driver": "{{docker_storage_driver}}",
  "graph": "{{docker_root_dir}}",
  "registry-mirrors": ["https://docker.mirrors.ustc.edu.cn"],
  "insecure-registries":["183.66.65.205:5000","218.245.66.213:5000","registry.one2.newtouch.com:5000"]
}