[Unit]
Description=Etcd Server
After=network.target
After=network-online.target
Wants=network-online.target
Documentation=http{% if etcd_use_ssl %}s{% endif %}://github.com/coreos

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
ExecStart=/root/local/bin/etcd \
  --name={{inventory_hostname}} \
{% if etcd_use_ssl %}
  --cert-file=/etc/etcd/ssl/etcd.pem \
  --key-file=/etc/etcd/ssl/etcd-key.pem \
  --peer-cert-file=/etc/etcd/ssl/etcd.pem \
  --peer-key-file=/etc/etcd/ssl/etcd-key.pem \
  --trusted-ca-file=/etc/kubernetes/ssl/ca.pem \
  --peer-trusted-ca-file=/etc/kubernetes/ssl/ca.pem \
{% endif %}
  --initial-advertise-peer-urls=http{% if etcd_use_ssl %}s{% endif %}://{{hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address']}}:2380 \
  --listen-peer-urls=http{% if etcd_use_ssl %}s{% endif %}://{{hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address']}}:2380 \
  --listen-client-urls=http{% if etcd_use_ssl %}s{% endif %}://{{hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address']}}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls=http{% if etcd_use_ssl %}s{% endif %}://{{hostvars[inventory_hostname]['ansible_eth0']['ipv4']['address']}}:2379 \
  --initial-cluster-token=etcd-cluster-0 \
  --initial-cluster={% for host in groups['etcdservers'] %}{{host}}=http{% if etcd_use_ssl %}s{% endif %}://{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:2380{% if not loop.last%},{%endif%}{% endfor %} \
  --initial-cluster-state=new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target